body
{
    background-color: lightgreen; 
}

hr
{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;

    width: 20%;
}

#img
{
    height: 130px;
    width: 100px;
    border-radius: 100%;
}

h1
{
    color: red;
}
h3
{
    color: violet;
}
#A1:hover
{
    color: gold;
}
#A3:hover
{
    color: gold;
}